.root {
  composes: root from "../ToggleGroup/ToggleGroup.module.css";
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 0;
  height: 2.5rem;
  padding: 0.25em;
  aspect-ratio: 1;
  align-self: start;

  &:hover {
    .active::after {
      opacity: 1;
    }
  }
}

.item {
  border-radius: 99em;
  appearance: none;
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  cursor: pointer;

  &::before {
    content: "";
    display: block;
    width: 2px;
    height: 2px;
    margin: auto;
    border-radius: 50%;
    background-color: var(--fg-tertiary);
    transition: background-color 150ms ease;
  }

  &:hover:not([data-disabled])::before {
    background-color: var(--fg);
  }

  &[data-disabled] {
    cursor: not-allowed;
  }

  &:focus-visible {
    outline: 1px solid var(--border);
    outline-offset: -1px;
  }
}

.active {
  position: absolute;
  grid-area: 1 / 1 / 2 / 2;
  inset: 0;
  display: grid;
  place-items: center;
  pointer-events: none;
  translate: calc(mod(var(--at), 3) * 100%) calc(round(down, var(--at) / 3) * 100%);
  transition: translate 200ms ease;

  &::before,
  &::after {
    content: "";
    grid-area: 1 / 1;
  }

  &::before {
    width: 8px;
    height: 8px;
    border-radius: 3px;
    background-image: linear-gradient(var(--fg-secondary) 0 0), linear-gradient(var(--bg) 0 0);
  }

  &::after {
    transition: opacity 300ms ease;
    opacity: 0;
    z-index: -1;
    width: 600%;
    height: 600%;
    background:
      linear-gradient(var(--border-subtle) 0 0) center / 100% 1px no-repeat,
      linear-gradient(var(--border-subtle) 0 0) center / 1px 100% no-repeat;
  }
}
