.app {
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.header {
  margin: 0 auto;
  width: 92%;
  max-width: var(--width);
  display: flex;
  gap: 1em;
  justify-content: space-between;
  align-items: center;
  padding: 4em 1em 1em 1em;
  color: var(--fg);
  border-inline: 1px solid var(--border);
}

.title {
  font-size: 10px;
  letter-spacing: 0.05em;
  font-weight: normal;
  margin: 0;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

@media (prefers-reduced-motion: reduce) {
  ::view-transition-group(*),
  ::view-transition-old(*),
  ::view-transition-new(*) {
    animation: none;
  }
}

.logo {
  width: 2rem;
  height: var(--quantize);
  display: flex;
  svg {
    width: 100%;
    height: auto;
    overflow: visible;
  }
}
